# Import and setup

In [1]:
import pandas as pd

In [2]:
# change display options
pd.options.display.max_rows = 150
pd.options.display.max_columns = 150

In [3]:
%%time
# import terrorism data (may take a few minutes to load)
df = pd.read_excel('../data/raw/globalterrorismdb_0919dist.xlsx')

CPU times: user 5min 3s, sys: 3.18 s, total: 5min 6s
Wall time: 5min 28s

# Explore dataset

In [4]:
# look at sample of dataset
df.sample(5)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
108081,201205220029,2012,5,22,NaN,0,NaT,19,Bangladesh,6,South Asia,Chittagong,Raozan,22.528219,91.923683,1.0,0,NaN,05/22/2012: Assailants kidnapped five leaders ...,1,1,1,0,NaN,NaN,0,1,0,6,Hostage Taking (Kidnapping),NaN,NaN,NaN,NaN,22,Violent Political Party,109.0,Party Official/Candidate/Other Personnel,Bangladesh Nationalist Party (BNP),Leaders,19.0,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Awami League,Bangladesh Chhatra League,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,Melee,22.0,"Hands, Feet, Fists",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,0.0,0.0,0,NaN,NaN,NaN,NaN,1.0,5.0,0.0,2.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,2.0,Hostage(s) released by perpetrators,5.0,Senior Vice President Abu Sufian was one of th...,"""5 BNP leaders beaten by terrorists in Raozan,...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
30303,198702280020,1987,2,28,NaN,0,NaT,69,France,8,Western Europe,Corsica,Bastia,42.699997,9.447317,1.0,0,NaN,NaN,1,1,1,0,NaN,NaN,1,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,2,Government (General),21.0,Government Building/Facility/Office,French Island,Central Tax Office,69.0,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Separatists,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,1,3.0,Minor (likely < $1 million),160000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,"198702280018, 198702280019, 198702280020, 1987..."
21849,198404260011,1984,4,26,NaN,0,NaT,45,Colombia,3,South America,Huila,Garzon,2.196730,-75.629090,1.0,0,NaN,NaN,1,1,1,0,NaN,NaN,0,0,0,9,Unknown,NaN,NaN,NaN,NaN,14,Private Citizens & Property,75.0,Village/City/Town/Suburb,NaN,city of Garzon,45.0,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Revolutionary Armed Forces of Colombia (FARC),NaN,M-19 (Movement of April 19),NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4.0,Unknown,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
93458,200909010002,2009,9,1,NaN,0,NaT,92,India,6,South Asia,Manipur,Bishenpur district,24.628724,93.761325,3.0,0,The attack took place on the Imphal-Churachand...,"09/01/2009: On Tuesday, assailants fired upon ...",1,1,1,0,NaN,NaN,0,1,0,2,Armed Assault,NaN,NaN,NaN,NaN,19,Transportation,99.0,Bus (excluding tourists),NaN,A passenger bus,92.0,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kanglei Yawol Kanna Lup (KYKL),NaN,NaN,NaN,NaN,NaN,The specific motive for the attack is unknown.,1.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,Firearms,5.0,Unknown Gun Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown firearms were used in the attack.,1.0,0.0,0.0,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),NaN,The attack caused damage to the passenger bus.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"National Counterterrorism Center, ""One Civilia...","Assam Tribune, ""Driver Shot Dead by Gunmen,"" h...",NaN,ISVG,0,0,0,0,NaN
125255,201312290050,2013,12,29,NaN,0,NaT,92,India,6,South Asia,Assam,Balichanda,26.657154,92.102056,1.0,0,NaN,12/29/2013: Assailants set a home on fire in t...,1,1,1,0,NaN,NaN,1,1,0,7,Facility/Infrastructure Attack,NaN,NaN,NaN,NaN,14,Private Citizens & Property,76.0,House/Apartment/Residence,Not Applicable,Residence,92.0,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Incendiary,18.0,Arson/Fire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,A house was damaged in this attack.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""Tension simmers at Chokihola,"" Assam Tribune,...",NaN,NaN,START Primary Collection,-9,-9,0,-9,"201312290045, 201312290046, 201312290047, 2013..."

In [5]:
# describe dataset
df.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,vicinity,crit1,crit2,crit3,doubtterr,alternative,multiple,success,suicide,attacktype1,attacktype2,attacktype3,targtype1,targsubtype1,natlty1,targtype2,targsubtype2,natlty2,targtype3,targsubtype3,natlty3,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claim2,claimmode2,claim3,claimmode3,compclaim,weaptype1,weapsubtype1,weaptype2,weapsubtype2,weaptype3,weapsubtype3,weaptype4,weapsubtype4,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propvalue,ishostkid,nhostkid,nhostkidus,nhours,ndays,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.914640e+05,191464.000000,191464.000000,191464.000000,191464.000000,191464.000000,191464.000000,186884.000000,186883.000000,191463.000000,191464.000000,191464.00000,191464.000000,191464.000000,191464.000000,31070.000000,191464.000000,191464.000000,191464.000000,191464.000000,7023.000000,485.000000,191464.000000,180465.000000,189742.000000,12196.000000,11732.000000,11879.000000,1313.000000,1234.000000,1284.000000,191084.000000,2158.000000,352.000000,191464.00000,120355.000000,121981.000000,125349.000000,21550.000000,2093.000000,664.000000,350.000000,134.000000,4890.000000,191464.000000,169178.000000,14192.000000,12492.000000,2034.000000,1844.000000,73.000000,70.000000,180435.000000,127021.000000,124030.000000,173905.000000,126764.000000,121594.000000,191464.000000,67286.000000,4.219600e+04,191286.000000,14626.000000,14571.000000,4381.000000,8861.000000,78428.000000,1.416000e+03,6.230000e+02,8.380000e+02,611.000000,12045.000000,11454.000000,191464.000000,191464.000000,191464.000000,191464.000000
mean,2.003486e+11,2003.420136,6.462510,15.507688,0.047476,131.290446,7.205167,23.462121,28.902126,1.458172,0.069151,0.98841,0.993127,0.872838,-0.485757,1.297039,0.139415,0.886825,0.036618,3.276099,3.809056,5.327835,8.449259,46.976367,127.285509,10.167842,55.005114,128.984847,10.113481,55.771475,141.047508,0.079285,0.269694,0.201705,0.00351,-66.502140,-1.436117,0.065497,7.055452,0.246536,7.222892,0.377143,6.701493,-6.230061,6.472141,11.101709,6.853086,10.918268,6.971976,11.862256,6.246575,10.842857,2.410735,0.043079,0.529186,3.161232,0.037526,0.118600,-0.629319,3.291978,1.932884e+05,0.056842,4.087447,-0.334912,-49.963422,-33.179664,-0.154384,3.057619e+06,5.227734e+05,6.961705e+05,217.004910,4.643005,-29.816309,-4.521727,-4.439247,0.088951,-3.930582
std,1.334949e+09,13.349405,3.388515,8.807727,0.212656,112.058063,2.923811,18.405309,57.231040,0.991536,0.284292,0.10703,0.082621,0.333156,2.399609,0.723066,0.346380,0.316808,0.187822,1.947979,2.307806,2.234623,6.640723,30.833421,89.795208,5.709859,25.612896,124.532178,5.689909,26.114098,162.385505,0.270183,0.443904,0.401844,0.05914,208.104397,12.504317,1.058084,2.403405,0.934977,2.718301,0.485365,2.883789,4.268216,2.207859,6.494063,2.292732,7.642624,2.191003,8.575762,1.507212,8.192672,11.445411,5.461232,4.339206,42.679122,2.949192,1.544178,3.212640,0.484213,1.492315e+07,0.499810,195.153254,6.635037,80.908500,125.390956,1.240840,2.951278e+07,6.730057e+06,9.792528e+06,2796.042504,2.034429,65.183303,4.543713,4.639931,0.556741,4.689726
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-176.176447,1.000000,-9.000000,0.00000,0.000000,0.000000,-9.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,4.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.00000,-99.000000,-99.000000,-9.000000,1.000000,-9.000000,1.000000,0.000000,1.000000,-9.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,1.000000,-9.900000e+01,-9.000000,-99.000000,-99.000000,-99.000000,-99.000000,-9.000000,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991083e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,6.000000,11.274796,7.052742,1.000000,0.000000,1.00000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,2.000000,2.000000,3.000000,22.000000,83.000000,4.000000,29.000000,74.000000,4.000000,34.000000,69.000000,0.000000,0.000000,0.000000,0.00000,-99.000000,0.000000,0.000000,6.000000,0.000000,6.000000,0.000000,4.000000,-9.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-9.900000e+01,0.000000,1.000000,0.000000,-99.000000,-99.000000,0.000000,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.010031e+11,2010.000000,6.000000,15.000000,0.000000,98.000000,7.000000,31.445840,43.471427,1.000000,0.000000,1.00000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,2.000000,7.000000,4.000000,35.000000,100.000000,14.000000,67.000000,97.000000,14.000000,67.000000,104.000000,0.000000,0.000000,0.000000,0.00000,-99.000000,0.000000,0.000000,8.000000,0.000000,7.000000,0.000000,7.000000,-9.000000,6.000000,12.000000,6.000000,7.000000,6.000000,8.000000,6.000000,9.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,-9.900000e+01,0.000000,2.000000,0.000000,-99.000000,-99.000000,0.000000,1.500000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.015013e+11,2015.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.621521,68.783077,1.000000,0.000000,1.00000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,7.000000,7.000000,14.000000,74.000000,168.000000,14.000000,68.000000,182.000000,14.000000,73.000000,182.000000,0.000000,1.000000,0.000000,0.00000,-99.000000,0.000000,0.000000,8.000000,1.000000,10.000000,1.000000,9.000000,0.000000,6.000000,16.000000,8.000000,18.000000,9.000000,20.000000,6.000000,16.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,4.000000,-9.900000e+01,0.000000,4.000000,0.000000,0.000000,4.000000,0.000000,4.000000e+05,0.000000e+00,1.273412e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.018123e+11,2018.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,179.366667,5.000000,1.000000,1.00000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,9.000000,9.000000,8.000000,22.000000,113.000000,1004.000000,22.000000,113.000000,1004.000000,22.000000,113.000000,1004.000000,1.000000,1.000000,1.000000,1.00000,25000.000000,406.000000,1.000000,10.000000,1.000000,10.000000,1.000000,10.000000,1.000000,13.000000,31.000000,13.000000,31.000000,13.000000,28.000000,12.000000,28.000000,1570.000000,1361.000000,500.000000,10878.000000,751.000000,200.000000,1.000000,4.000000,2.700000e+09,1.000000,17000.000000,86.000000,999.000000,2676.000000,1.000000,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2912.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# count entries for each variable
df.count()

eventid               191464
iyear                 191464
imonth                191464
iday                  191464
approxdate             10292
extended              191464
resolution              4453
country               191464
country_txt           191464
region                191464
region_txt            191464
provstate             191462
city                  191038
latitude              186884
longitude             186883
specificity           191463
vicinity              191464
location               60285
summary               125340
crit1                 191464
crit2                 191464
crit3                 191464
doubtterr             191464
alternative            31070
alternative_txt        31070
multiple              191464
success               191464
suicide               191464
attacktype1           191464
attacktype1_txt       191464
attacktype2             7023
attacktype2_txt         7023
attacktype3              485
attacktype3_txt          485
targtype1             191464
targtype1_txt         191464
targsubtype1          180465
targsubtype1_txt      180465
corp1                 148917
target1               190828
natlty1               189742
natlty1_txt           189742
targtype2              12196
targtype2_txt          12196
targsubtype2           11732
targsubtype2_txt       11732
corp2                  11169
target2                12072
natlty2                11879
natlty2_txt            11879
targtype3               1313
targtype3_txt           1313
targsubtype3            1234
targsubtype3_txt        1234
corp3                   1163
target3                 1312
natlty3                 1284
natlty3_txt             1284
gname                 191464
gsubname                6474
gname2                  2216
gsubname2                164
gname3                   356
gsubname3                 21
motive                 52230
guncertain1           191084
guncertain2             2158
guncertain3              352
individual            191464
nperps                120355
nperpcap              121981
claimed               125349
claimmode              21550
claimmode_txt          21550
claim2                  2093
claimmode2               664
claimmode2_txt           664
claim3                   350
claimmode3               134
claimmode3_txt           134
compclaim               4890
weaptype1             191464
weaptype1_txt         191464
weapsubtype1          169178
weapsubtype1_txt      169178
weaptype2              14192
weaptype2_txt          14192
weapsubtype2           12492
weapsubtype2_txt       12492
weaptype3               2034
weaptype3_txt           2034
weapsubtype3            1844
weapsubtype3_txt        1844
weaptype4                 73
weaptype4_txt             73
weapsubtype4              70
weapsubtype4_txt          70
weapdetail            116976
nkill                 180435
nkillus               127021
nkillter              124030
nwound                173905
nwoundus              126764
nwoundte              121594
property              191464
propextent             67286
propextent_txt         67286
propvalue              42196
propcomment            61177
ishostkid             191286
nhostkid               14626
nhostkidus             14571
nhours                  4381
ndays                   8861
divert                   331
kidhijcountry           3310
ransom                 78428
ransomamt               1416
ransomamtus              623
ransompaid               838
ransompaidus             611
ransomnote               544
hostkidoutcome         12045
hostkidoutcome_txt     12045
nreleased              11454
addnotes               30958
scite1                125278
scite2                 83237
scite3                 47220
dbsource              191464
INT_LOG               191464
INT_IDEO              191464
INT_MISC              191464
INT_ANY               191464
related                26698
dtype: int64

In [7]:
# check dataset size
df.shape

(191464, 135)

# Clean dataset

### Filter by date

In [8]:
# filter by date; events that occurred since 2012
df = df[df.iyear >= 2012]

# confirm filter worked as expected
print(f'Events occurred between {min(df.iyear)} and {max(df.iyear)}')

Events occurred between 2012 and 2018

In [9]:
# check dataset size
df.shape

(86668, 135)

### Filter for certainly terrorism

There is not always enough information available to determine whether an incident was definitively terrorism, "terrorism proper", rather than another form of crime (e.g. organized crime, hate crime, insurgency); see p. 11 and 16 of codebook. Here is the categorical breakdown for variable `doutterr`:

* 0 - No. There is essentially no doubt as to whether the incident is an act of terrorism.
* 1 - Yes. There is doubt as to whether the incident is an act of terrorism.

In [10]:
df.doubtterr.value_counts()

0    70261
1    16407
Name: doubtterr, dtype: int64

In [11]:
# choose whether to include only incidents where there is no doubt
remove_doubtful = True

if remove_doubtful:
    # filter for incidents that are definitively terrorism
    df = df[df.doubtterr == 0]

In [12]:
# check dataset size
df.shape

(70261, 135)

### Filter for "successful" terrorism

A terrorist incident is considered successful if there are tangible effects. It does not necessarily mean that it achieved the perpetrator's original goal. If any attack type has a tangible effect, then it is considered "successful"; except for assassinations, which are only considered successful if the inteded target is killed. See p. 26 of codebook. Here is the categorical breakdown for variable `success`:

* 0 - No. The incident was not successful.
* 1 - Yes. The incident was successful.

In [13]:
df.success.value_counts()

1    59395
0    10866
Name: success, dtype: int64

In [14]:
# choose whether to include only "successful" incidents
remove_unsuccessful = True

if remove_unsuccessful:
    # filter for incidents that are "successful"
    df = df[df.success == 1]

In [15]:
df.shape

(59395, 135)

### Potential filter: event type

Each incident may be one of multiple attack types, see p. 24 of codebook. Note that these events are assigned in a hierarchical order (different from variable order below) and at a maximum of three event types. For example, if one event included a hijacking, barricade, bombing, and unarmed assault, it would be recorded with `attacktype1`=2, `attacktype2`=4, `attacktype3`=5, and the unarmed assault would go unlisted. Here is the categorical breakdown for variable `attacktype1`, `attacktype2`, and `attacktype3`.

* 1 - Assassination
* 2 - Armed Assault
* 3 - Bombing/Explosion
* 4 - Hijacking
* 5 - Barricade Incident
* 6 - Kidnapping
* 7 - Facility/Infrastructure Attack
* 8 - Unarmed Assault
* 9 - Unknown

Here is a breakdown of events by type:

In [16]:
pd.DataFrame({'attacktype1':df.attacktype1.value_counts(),
              'attacktype2':df.attacktype2.value_counts(),
              'attacktype3':df.attacktype3.value_counts()})

     attacktype1  attacktype2  attacktype3
1.0         2943          NaN          NaN
2.0        13421       1584.0         60.0
3.0        30046        150.0          NaN
4.0          207          NaN          NaN
5.0          335         12.0          NaN
6.0         5829         37.0          NaN
7.0         4085       1467.0        203.0
8.0          375         23.0          1.0
9.0         2154          NaN          NaN

In [17]:
# choose attack types to include
# include all attack types by setting to [1,2,3,4,5,6,7,8,9]
incident_types = [1,2,3,4,5,6,7,8,9]

# filter for incidents that include specified event type as primary, secondary or tertiary
df = df[df.attacktype1.isin(incident_types) |
        df.attacktype2.isin(incident_types) |
        df.attacktype3.isin(incident_types)]

In [18]:
# check dataset size
df.shape

(59395, 135)

### Potential fitler: target types

The dataset contains information about targets/victims; see p.32 of codebook. Here are some potentially relevant categories for variables `targtype1`, `targtype2`, and `targtype3`:

* 6 - Airports & aircraft
* 8 - Educational institution
* 18 - Tourists
* 19 - Transportation (other than aviation)

Here is a breakdown of events by target type:

In [19]:
pd.DataFrame({'targtype1':df.targtype1.value_counts(),
              'targtype2':df.targtype2.value_counts(),
              'targtype3':df.targtype3.value_counts()})

      targtype1  targtype2  targtype3
1.0        5453      334.0       52.0
2.0        6046      214.0       19.0
3.0       11969      583.0       36.0
4.0        2849      615.0       43.0
5.0          10        NaN        NaN
6.0         140       12.0        2.0
7.0         672       24.0        2.0
8.0        1610      164.0       10.0
9.0          87        5.0        1.0
10.0        828       58.0        6.0
11.0         74        9.0        2.0
12.0        356       21.0        7.0
13.0         76       15.0        5.0
14.0      20482     3821.0      386.0
15.0       2004       71.0        6.0
16.0        303       15.0        7.0
17.0       1464      373.0       25.0
18.0         68       19.0        4.0
19.0       1399       70.0        4.0
20.0       1375        NaN        NaN
21.0       1468       44.0        NaN
22.0        662       15.0        1.0

### Add columns

The total number of fatalities `nkill` "includes all victims *and* attackers who died as a result of the incident. If a figure is not reported or too vague, the field is blank. If only the perpetrator or victim fatalities are known, the field represents those numbers (so the number may be an underestimate). If multiple numbers are reported, the most recent value from a reputable resource will be reported. Conflicting reports of fatalities counts are noted in the Additional Notes `addnotes` field.

The total number of injured `nwound` "records the number of confirmed non-fatal injuries to both perpetrators and victims. It follows the same conventions as `nkill` (see above).

The suffix "us" in variables `nkillus` and `nwoundus` refer to fatalities and injuries (respectively) of US citizens, domestically or abroad.

The suffixes "ter" and "te" in variables `nkillter` and `nwoundte` refer to fatalities and injuries (respectively) of perpetartors.

See pp.50-51 of codebook for additional details.

I am adding a new field `nvictim` to total the number of fatalities and wounded, for all individuals (`nvictim`), US citizens (`nvictimus`), and perpetrators (`nvictimte`).

In [20]:
# add victim count
df['nvictim']   = df['nkill']   +  df['nwound']
df['nvictimus'] = df['nkillus'] +  df['nwoundus']
df['nvictimte'] = df['nkillter'] + df['nwoundte']

In [21]:
# confirm correct addition
df[['nkill','nwound','nvictim']][df.nkill>0].sample(5)

        nkill  nwound  nvictim
179751    3.0     0.0      3.0
116257    1.0     0.0      1.0
127837    4.0    10.0     14.0
157941    1.0     0.0      1.0
115278    1.0     1.0      2.0

In [22]:
# confirm correct addition
df[['nkillus','nwoundus','nvictimus']][df.nkillus>0].sample(5)

        nkillus  nwoundus  nvictimus
125151      1.0       0.0        1.0
167118      1.0      10.0       11.0
139510      1.0       2.0        3.0
148056      1.0       0.0        1.0
145007      1.0       0.0        1.0

In [23]:
# confirm correct addition
df[['nkillter','nwoundte','nvictimte']][df.nkillter>0].sample(5)

        nkillter  nwoundte  nvictimte
173632       1.0       0.0        1.0
155087       4.0       0.0        4.0
165129       1.0       0.0        1.0
175838       1.0       0.0        1.0
138037      13.0       NaN        NaN

### Recast data types

I am recasting data types to match the Data Dictionary. Most data types imported correctly by default, with the exception of text fields, which imported as object types instead of string types. I correct that here.

In [24]:
# find text columns
text_columns_indices = ['_txt' in c for c in df.columns]

# create dictionary of text column name and 'string'
text_columns = df.columns[text_columns_indices]
text_type = ['string' for c in text_columns]
text_convert_dict = dict(zip(text_columns, text_type))

# preview dictionary
text_convert_dict

{'country_txt': 'string',
 'region_txt': 'string',
 'alternative_txt': 'string',
 'attacktype1_txt': 'string',
 'attacktype2_txt': 'string',
 'attacktype3_txt': 'string',
 'targtype1_txt': 'string',
 'targsubtype1_txt': 'string',
 'natlty1_txt': 'string',
 'targtype2_txt': 'string',
 'targsubtype2_txt': 'string',
 'natlty2_txt': 'string',
 'targtype3_txt': 'string',
 'targsubtype3_txt': 'string',
 'natlty3_txt': 'string',
 'claimmode_txt': 'string',
 'claimmode2_txt': 'string',
 'claimmode3_txt': 'string',
 'weaptype1_txt': 'string',
 'weapsubtype1_txt': 'string',
 'weaptype2_txt': 'string',
 'weapsubtype2_txt': 'string',
 'weaptype3_txt': 'string',
 'weapsubtype3_txt': 'string',
 'weaptype4_txt': 'string',
 'weapsubtype4_txt': 'string',
 'propextent_txt': 'string',
 'hostkidoutcome_txt': 'string'}

In [25]:
# convert text from object to string
df = df.astype(text_convert_dict)

In [26]:
# check new data types to confirm successful conversion
df.dtypes

eventid                        int64
iyear                          int64
imonth                         int64
iday                           int64
approxdate                    object
extended                       int64
resolution            datetime64[ns]
country                        int64
country_txt                   string
region                         int64
region_txt                    string
provstate                     object
city                          object
latitude                     float64
longitude                    float64
specificity                  float64
vicinity                       int64
location                      object
summary                       object
crit1                          int64
crit2                          int64
crit3                          int64
doubtterr                      int64
alternative                  float64
alternative_txt               string
multiple                       int64
success                        int64
suicide                        int64
attacktype1                    int64
attacktype1_txt               string
attacktype2                  float64
attacktype2_txt               string
attacktype3                  float64
attacktype3_txt               string
targtype1                      int64
targtype1_txt                 string
targsubtype1                 float64
targsubtype1_txt              string
corp1                         object
target1                       object
natlty1                      float64
natlty1_txt                   string
targtype2                    float64
targtype2_txt                 string
targsubtype2                 float64
targsubtype2_txt              string
corp2                         object
target2                       object
natlty2                      float64
natlty2_txt                   string
targtype3                    float64
targtype3_txt                 string
targsubtype3                 float64
targsubtype3_txt              string
corp3                         object
target3                       object
natlty3                      float64
natlty3_txt                   string
gname                         object
gsubname                      object
gname2                        object
gsubname2                     object
gname3                        object
gsubname3                     object
motive                        object
guncertain1                  float64
guncertain2                  float64
guncertain3                  float64
individual                     int64
nperps                       float64
nperpcap                     float64
claimed                      float64
claimmode                    float64
claimmode_txt                 string
claim2                       float64
claimmode2                   float64
claimmode2_txt                string
claim3                       float64
claimmode3                   float64
claimmode3_txt                string
compclaim                    float64
weaptype1                      int64
weaptype1_txt                 string
weapsubtype1                 float64
weapsubtype1_txt              string
weaptype2                    float64
weaptype2_txt                 string
weapsubtype2                 float64
weapsubtype2_txt              string
weaptype3                    float64
weaptype3_txt                 string
weapsubtype3                 float64
weapsubtype3_txt              string
weaptype4                    float64
weaptype4_txt                 string
weapsubtype4                 float64
weapsubtype4_txt              string
weapdetail                    object
nkill                        float64
nkillus                      float64
nkillter                     float64
nwound                       float64
nwoundus                     float64
nwoundte                     float64
property                       int64
propextent                   float64
propextent_txt                string
propvalue                    float64
propcomment                   object
ishostkid                    float64
nhostkid                     float64
nhostkidus                   float64
nhours                       float64
ndays                        float64
divert                        object
kidhijcountry                 object
ransom                       float64
ransomamt                    float64
ransomamtus                  float64
ransompaid                   float64
ransompaidus                 float64
ransomnote                    object
hostkidoutcome               float64
hostkidoutcome_txt            string
nreleased                    float64
addnotes                      object
scite1                        object
scite2                        object
scite3                        object
dbsource                      object
INT_LOG                        int64
INT_IDEO                       int64
INT_MISC                       int64
INT_ANY                        int64
related                       object
nvictim                      float64
nvictimus                    float64
nvictimte                    float64
dtype: object

### Rename columns

I rename columns to match the Data Dictionary. This will make it easier to join datasets later on.

In [27]:
# rename columns to match data dictionary
df.rename(columns={'iyear':'year_gtd', 'imonth':'month_gtd', 'iday':'day_gtd', 
                   'country':'country_id', 'country_txt':'country_txt_gtd',
                   'nkillter':'nkillte'}, inplace=True)

In [28]:
# check new column names to confirm successful renaming
for c in df.columns:
    print(c)

eventid
year_gtd
month_gtd
day_gtd
approxdate
extended
resolution
country_id
country_txt_gtd
region
region_txt
provstate
city
latitude
longitude
specificity
vicinity
location
summary
crit1
crit2
crit3
doubtterr
alternative
alternative_txt
multiple
success
suicide
attacktype1
attacktype1_txt
attacktype2
attacktype2_txt
attacktype3
attacktype3_txt
targtype1
targtype1_txt
targsubtype1
targsubtype1_txt
corp1
target1
natlty1
natlty1_txt
targtype2
targtype2_txt
targsubtype2
targsubtype2_txt
corp2
target2
natlty2
natlty2_txt
targtype3
targtype3_txt
targsubtype3
targsubtype3_txt
corp3
target3
natlty3
natlty3_txt
gname
gsubname
gname2
gsubname2
gname3
gsubname3
motive
guncertain1
guncertain2
guncertain3
individual
nperps
nperpcap
claimed
claimmode
claimmode_txt
claim2
claimmode2
claimmode2_txt
claim3
claimmode3
claimmode3_txt
compclaim
weaptype1
weaptype1_txt
weapsubtype1
weapsubtype1_txt
weaptype2
weaptype2_txt
weapsubtype2
weapsubtype2_txt
weaptype3
weaptype3_txt
weapsubtype3
weapsubtype3_txt
weaptype4
weaptype4_txt
weapsubtype4
weapsubtype4_txt
weapdetail
nkill
nkillus
nkillte
nwound
nwoundus
nwoundte
property
propextent
propextent_txt
propvalue
propcomment
ishostkid
nhostkid
nhostkidus
nhours
ndays
divert
kidhijcountry
ransom
ransomamt
ransomamtus
ransompaid
ransompaidus
ransomnote
hostkidoutcome
hostkidoutcome_txt
nreleased
addnotes
scite1
scite2
scite3
dbsource
INT_LOG
INT_IDEO
INT_MISC
INT_ANY
related
nvictim
nvictimus
nvictimte

### Reset index

I've filtered away many records, and will now reset the index for a fresh start on the newly cleaned dataset.

In [29]:
df.reset_index(drop=True, inplace=True)

# Export dataset

Here are a few last explorations, provided for comparison to the original import of this dataset above.

In [30]:
df.head()

,eventid,year_gtd,month_gtd,day_gtd,approxdate,extended,resolution,country_id,country_txt_gtd,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillte,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,nvictim,nvictimus,nvictimte
0,201201010001,2012,1,1,NaN,0,NaT,153,Pakistan,6,South Asia,Balochistan,Quetta,30.200820,66.994352,1.0,0,Incident occurred on Joint road.,01/01/2012: A grenade was thrown into a shop o...,1,1,1,0,NaN,<NA>,0,1,0,3,Bombing/Explosion,NaN,<NA>,NaN,<NA>,1,Business,2.0,Restaurant/Bar/Caf,Unknown,Paan Shop,153.0,Pakistan,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,NaN,6,Explosives,7.0,Grenade,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,0.0,0.0,0.0,12.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,"The targeted shops, as well as several other s...",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,There is doubt that this incident meets terror...,"""16 hurt in hand grenade attacks in Quetta, Hu...","""Grenade attack injures five in Quetta,"" Daily...","""Grenade attack injures nine in Quetta,"" Plus ...",START Primary Collection,-9,-9,0,-9,NaN,12.0,0.0,0.0
1,201201010002,2012,1,1,NaN,0,NaT,104,Kenya,11,Sub-Saharan Africa,North Eastern,Garissa,-0.456120,39.646123,1.0,0,NaN,01/01/2012: Assailants threw two grenades and ...,1,1,1,0,NaN,<NA>,1,1,0,2,Armed Assault,NaN,<NA>,NaN,<NA>,1,Business,2.0,Restaurant/Bar/Caf,Locus Pub,Bar,104.0,Kenya,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,Al-Shabaab,NaN,NaN,NaN,NaN,NaN,"The specific motive is unknown; however, Al-Sh...",1.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,NaN,6,Explosives,7.0,Grenade,5.0,Firearms,2.0,Automatic or Semi-Automatic Rifle,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,Two grenades and AK-47 assault rifles were use...,3.0,0.0,0.0,14.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,The dance floor was damaged in this attack.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,Casualty numbers for this attack represent an ...,"""BRIEF: Five killed in grenade attack in n...","""UPDATE 2-Gunmen attack bars in northeast Keny...","""Gunmen attack bars in northeast Kenya, at lea...",START Primary Collection,1,1,0,1,"201201010002, 201201010004",17.0,0.0,0.0
2,201201010004,2012,1,1,NaN,0,NaT,104,Kenya,11,Sub-Saharan Africa,North Eastern,Garissa,-0.456120,39.646123,1.0,0,NaN,01/01/2012: Assailants threw a grenade and ope...,1,1,1,0,NaN,<NA>,1,1,0,2,Armed Assault,NaN,<NA>,NaN,<NA>,1,Business,2.0,Restaurant/Bar/Caf,Unknown,Bar,104.0,Kenya,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,Al-Shabaab,NaN,NaN,NaN,NaN,NaN,"The specific motive is unknown; however, Al-Sh...",1.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,NaN,6,Explosives,7.0,Grenade,5.0,Firearms,5.0,Unknown Gun Type,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,2.0,0.0,0.0,14.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,An unknown number of vehicles and a nightclub ...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,Casualty numbers for this attack represent an ...,"""UPDATE 2-Gunmen attack bars in northeast Keny...","""Five dead in New Year blast in Kenyan town: p...","""Five dead in New Year blast in Kenyan town: p...",START Primary Collection,1,1,0,1,"201201010002, 201201010004",16.0,0.0,0.0
3,201201010005,2012,1,1,NaN,1,2012-01-19,153,Pakistan,6,South Asia,Balochistan,Peer Chhatta,28.466667,67.283333,1.0,0,Incident occurred near Pahao Bridge in Nasirab...,01/01/2012: Four men were kidnapped from their...,1,1,1,0,NaN,<NA>,0,1,0,6,Hostage Taking (Kidnapping),NaN,<NA>,NaN,<NA>,14,Private Citizens & Property,67.0,Unnamed Civilian/Unspecified,Not Applicable,Civilians,153.0,Pakistan,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,NaN,5,Firearms,5.0,Unknown Gun Type,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,<NA>,NaN,NaN,1.0,4.0,0.0,NaN,15.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.0,Successful Rescue,4.0,NaN,"""4 kidnapped recovered,"" Pakistan Press Intern...","""3 brothers kidnapped in Nasirabad,"" The Baluc...","""Four men kidnapped,"" Daily Times, January 3, ...",START Primary Collection,-9,-9,0,-9,NaN,0.0,0.0,0.0
4,201201010006,2012,1,1,NaN,0,NaT,153,Pakistan,6,South Asia,Federally Administered Tribal Areas,Salarzai,34.761723,71.324719,1.0,0,Incident occurred in the Bajaur Agency,01/01/2012: An explosive device targeting anti...,1,1,1,0,NaN,<NA>,0,1,0,3,Bombing/Explosion,NaN,<NA>,NaN,<NA>,17,Terrorists/Non-State Militia,94.0,Non-State Militia,Unknown,Militia Members,153.0,Pakistan,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,NaN,NaN,<NA>,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,-99.0,0.0,0.0,NaN,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,NaN,6,Explosives,12.0,Remote Trigger,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>,NaN,1.0,0.0,0.0,3.0,0.0,0.0,1,3.0,Minor (likely < $1 million),-99.0,A shop was damaged in this attack.,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,"""Bomb kills 1 anti-Taliban militiaman in Pakis...","""Bomb kills anti-Taliban fighter in Pakistan,""...","""Anti-Taliban fighter killed in Bajaur,"" Daily...",START Primary Collection,-9,-9,0,-9,NaN,4.0,0.0,0.0

For the remaining explorations, I'll just look at the columns we plan to keep after we join the datasets.

In [31]:
columns_of_interest = ['eventid', 'year_gtd','country_id','country_txt_gtd','region','region_txt',
                       'nkill','nwound','nvictim',
                       'nkillus','nwoundus','nvictimus',
                       'nkillte','nwoundte','nvictimte']

In [32]:
df[columns_of_interest].sample(5)

,eventid,year_gtd,country_id,country_txt_gtd,region,region_txt,nkill,nwound,nvictim,nkillus,nwoundus,nvictimus,nkillte,nwoundte,nvictimte
30762,201505170061,2015,153,Pakistan,6,South Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3037,201206270001,2012,153,Pakistan,6,South Asia,5.0,15.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
31307,201506050015,2015,209,Turkey,10,Middle East & North Africa,2.0,50.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0
42815,201608130004,2016,95,Iraq,10,Middle East & North Africa,1.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
18804,201404290012,2014,95,Iraq,10,Middle East & North Africa,7.0,21.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
df[columns_of_interest].describe()

,eventid,year_gtd,country_id,region,nkill,nwound,nvictim,nkillus,nwoundus,nvictimus,nkillte,nwoundte,nvictimte
count,5.939500e+04,59395.000000,59395.000000,59395.000000,56395.000000,54179.000000,53979.000000,59386.000000,59366.000000,59365.000000,58632.000000,57882.000000,57822.000000
mean,2.014974e+11,2014.907837,118.883391,8.211011,2.592535,3.539213,5.735842,0.005237,0.007631,0.012600,0.463399,0.115200,0.415551
std,1.811371e+08,1.812226,92.128598,2.364788,10.620658,13.194974,18.026150,0.226306,0.346112,0.516825,4.126733,1.433554,3.432406
min,2.012010e+11,2012.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.014010e+11,2014.000000,92.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.015041e+11,2015.000000,95.000000,10.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.016103e+11,2016.000000,153.000000,10.000000,2.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.018123e+11,2018.000000,1004.000000,12.000000,953.000000,1500.000000,1503.000000,44.000000,48.000000,92.000000,326.000000,100.000000,400.000000

In [34]:
df[columns_of_interest].count()

eventid            59395
year_gtd           59395
country_id         59395
country_txt_gtd    59395
region             59395
region_txt         59395
nkill              56395
nwound             54179
nvictim            53979
nkillus            59386
nwoundus           59366
nvictimus          59365
nkillte            58632
nwoundte           57882
nvictimte          57822
dtype: int64

In [35]:
df.shape

(59395, 138)

In [36]:
%%time
# write to csv
df.to_csv('../data/derived/terrorism.csv')

CPU times: user 4.06 s, sys: 476 ms, total: 4.53 s
Wall time: 6.05 s